body {
    background-color: #693561; /* Dark Purple */
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  font-family: Georgia;
  color: #FEE9E1; /* Light Peach */
}

#content img {
  width: 200px;
  height: 200px;
}

#content a:link,
 a:visited,
 a:active {
  color: #EDB183; /* Orange Peach */
  background-color: transparent;
  text-decoration: none;
}

#content a:hover {
  color: rgb(246, 218, 223);
  background-color: transparent;
  text-decoration: underline;
}

h1, 
h2 {
    background-color: #023C40; /* Dark Green */
}

#content button {
    background-color: #023C40; /* Dark Green */
    color: #FEE9E1; /* Light Peach */
    font-family: Georgia;
    width: 650px;
    border: none;
    text-align: left;
    display: inline-block;
}

#random-fact-container {
  margin-top: 20px;
  background-color: #FEE9E1; /* Light Peach */
  color: #FEE9E1; /* Light Peach */
}

#locations-container {
  margin-top: 20px;
  background-color: #FEE9E1; /* Light Peach */
  color: #FEE9E1; /* Light Peach */
}